.git
.DS_Store
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.npmrc
**/.npmrc
.cargo/credentials
.cargo/credentials.toml
**/.cargo/credentials
**/.cargo/credentials.toml
keystore.json
**/keystore.json
*-keypair.json
**/*-keypair.json
program-keypair.json
**/program-keypair.json
*.key
**/*.key
*.pem
**/*.pem
*.so
**/*.so
build-cache
target
ui/node_modules
ui/.next
ui/out
ui/data
ui/logs
ui/src-tauri/target
*.log
