.git
.DS_Store
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.npmrc
**/.npmrc
.cargo/credentials
.cargo/credentials.toml
**/.cargo/credentials
**/.cargo/credentials.toml
keystore.json
**/keystore.json
*-keypair.json
**/*-keypair.json
program-keypair.json
**/program-keypair.json
*.key
**/*.key
*.pem
**/*.pem
*.so
**/*.so
build-cache
target
apps/desktop/node_modules
apps/desktop/.next
apps/desktop/out
apps/desktop/data
apps/desktop/logs
apps/desktop/src-tauri/target
apps/mobile/.dart_tool
apps/mobile/build
*.log
